{% extends 'base.html' %}
{% load static %}
{% block title %} Coming Soon {% endblock %}

{% block content %}
<header class="masthead masthead-banner">
    <div class="container">
        <div class="masthead-heading text-uppercase">Coming Soon</div>
    </div>
</header>

<section class="page-section">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center w-full">
            <h1>This Page will be seen in future updates.</h1>
        </div>
    </div>
</section>

{% endblock %}