{% extends 'base.html' %}
{% load static %}

{% block title %} Home - Thai Siam Massage {% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Thai Siam Massage</div>
        <div class="masthead-subheading">Thai massage therapist in Germasogeia, Cyprus</div>
    </div>
</header>

<!-- About-->
<section class="page-section" id="about">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h3 class="about-heading">Welcome to Thai Siam Massage</h3>
        </div>
        <div class="col-lg-6 col-sm-12">
            <p class="about-lead">Come and meet our highly professional, qualified and experienced  therapists in our Cyprus premises. Our services will leave you feeling  pampared with a rejuvenating facial, a relaxing body scrub and massage.</p>
        </div>
    </div>
</div>
</section>

<!-- Booking -->
<section class="page-section" id="booking">
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-sm-12">
            <img class="booking-img" src="{% static 'booking/assets/img/booking.webp' %}" alt="Book your treatment">
        </div>
        <div class="col-lg-6 col-sm-12">
            <h2 class="booking-heading">Visit Our Place</h2>

            <div class="booking-address">
                <p>Address:</p>
                <p>Vasileos Georgiou I, 70a Potamos Germasogeias, Germasogeia, Municipality 4048, Cyprus</p>
            </div>
            <div class="booking-contact">
                <p>Contact:</p>
                <p>(+357) 99 256 453</p>
            </div>
            <div class="booking-hours">
                <p>Opening Hours:</p>
                <p>Monday - Sunday: 9:00 am - 10:00 pm</p>
            </div>
            <div class="booking-btn">
                <a href="{% url 'book_now' %}" class="btn btn-outline-success btn-lg text-uppercase mt-5 ">Book Your treatment</a>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
        
        