{% extends 'base.html' %}
{% load static %}

{% block title %} Login - Thai Siam Massage {% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead masthead-banner">
  <div class="container">
    <div class="masthead-heading text-uppercase">Login Here</div>
  </div>
</header>

<section class="page-section" id="login">
  <div class="container">
    <div class="row flex justify-content-center align-items-center">
      <div class="col-lg-6 col-sm-12">
        <!-- Display form errors -->
        {% if form.errors %}
          <div class="alert alert-danger">
            <strong>Error!</strong> Invalid email or password.
          </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
          </div>

          <div>
            <small id="emailHelp" class="form-text text-muted">Not a user? <a href="{% url 'register' %}">Register Here</a>.
            </small>
          </div>

          <button class="btn btn-outline-success btn-md mt-3">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}