{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard - {{ request.user.first_name }} {{ request.user.last_name.title() }} - Thai Siam Massage {% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead masthead-banner">
    <div class="container">
        <div class="masthead-heading text-uppercase">Welcome {{ request.user.first_name }} {{ request.user.last_name }}
        </div>
    </div>
</header>

<section class="page-section" id="dashboard">
    <div class="container">
        <h2 class="section-heading text-uppercase">Your Next Bookings</h2>
        {% if future_bookings %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Treatment</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Duration (Minutes)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in future_bookings %}
                    <tr>
                        <td>{{ booking.treatment.title }}</td>
                        <td>{{ booking.date|date:"F j, Y" }}</td>
                        <td>{{ booking.start_time|time:"g:i A" }}</td>
                        <td>{{ booking.end_time|time:"g:i A" }}</td>
                        <td>{{ booking.duration }}</td>
                        <td>
                            <a href="{% url 'cancel_booking' booking.id %}" onclick="confirmCancel({{ booking.id }})"
                                class="btn btn-danger btn-sm">Cancel</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="lead">You have no future bookings.</p>
        {% endif %}
    </div>
</section>

<script>
    function confirmCancel(bookingId) {
        if (confirm("Are you sure you want to cancel this booking?")) {
            window.location.href = `/dashboard/`;
        }
    }
</script>
{% endblock %}