{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Masthead-->
<header class="masthead masthead-banner">
    <div class="container">
        <div class="masthead-heading text-uppercase">Book Your Hours</div>
    </div>
</header>

<section class="page-section" id="book-now">
    <div class="container">
        <div class="row flex justify-content-center align-items-center">
            <div class="col-lg-6 col-sm-12">
                <!-- Display form errors -->
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> Please correct the following:
                    <ul>
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <!-- Booking Form -->
                <form method="post" action="{% url 'book_now' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="id_treatment">Treatment</label>
                        {{ form.treatment }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="id_date">Date</label>
                        {{ form.date }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="id_time">Time</label>
                        {{ form.time }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="id_notes">Notes</label>
                        {{ form.notes }}
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-md mt-3">Book Now</button>
                </form>
            </div>
        </div>
    </div>
</section>



{% endblock %}