/* css/custom_style.css */

/* Common Styles */

.logo{
    width: 100%;
}

.masthead-banner {
    background-image: url("../assets/img/banner.webp") !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    
}



/* About Section */
.about-heading{
    font-family: "Poppins";
    font-size: 3rem;
    font-weight: lighter;
}

.about-lead {
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 100;
}

/* About Section End */


/* Booking Section */
#booking{
    font-family: "Poppins";
}

.booking-img{
    width: 90%;
}

.booking-heading {
    font-size: 3.5rem;
    font-weight: lighter;
    margin-bottom: 4rem;
}

.booking-address, .booking-contact, .booking-hours{
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.booking-address p, .booking-contact p, .booking-hours p{
    margin-bottom: 0;
}

/* Booking Section End */


/* Treatment Page */

#treatment{
    font-family: "Poppins";
}

.treatment-heading{
    font-size: 3.5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}
.treatment-subheading {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.treatments-title{
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
}
.treatments-price{
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 1.2rem;
}
.treatment-description{
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 1rem;
}




/* Treatment Page End */

/* Login Page */
#login{
    font-family: "Poppins";
}
/* Login Page End */



/* Booking Page */

#booking{
    margin: 5rem 0;
    font-family: "Poppins";
    font-weight: lighter;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: .2rem;
}
.calendar .day-cell {
    padding: 15px;
    text-align: center;
    border: 1px solid rgba(25, 135, 84, 0.25);
    border-radius: 5px;
    cursor: pointer;
}
.calendar .day-header {
    padding: 15px;
    background-color: rgba(25, 135, 84);
    cursor: default;
    color: #fff;
}

.cal-container{
    padding: 6rem 0;
}

.cal-con {
    border: 1px solid rgba(25, 135, 84, 0.25);
    border-radius: 5px;
}

.cal-heading{
    font-size: 3.5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

/* Booking Page End */

/* Booking Success Page */
#booking{
    margin: 5rem 0;
    font-family: "Poppins";
    font-weight: lighter;
}

/* End Booking Success */

/* Dashboard */
#dashboard{
    font-family: "Poppins";
    font-weight: lighter;
}
/* End Dashboard */