{% extends 'base.html' %}
{% load static %}

{% block title %} Treatments - Thai Siam Massage {% endblock %}

    {% block content %}
    <!-- Masthead-->
    <header class="masthead masthead-banner">
      <div class="container">
        <div class="masthead-heading text-uppercase">Our Treatments</div>
      </div>
    </header>

    {% for treatment in treatments %}
      <h1>{treatment.title}</h1>
    {% endfor %}

    <!-- Treatments -->
    <section class="page-section" id="treatment">
      <div class="container">
        <div class="row flex justify-content-center align-items-start mb-5">
          <div class="col-lg-6 col-sm-12">
            <h2 class="treatment-heading text-uppercase">Our Top Treatments</h2>
            <p class="treatment-subheading text-muted">30, 60, 120 Minutes</p>
          </div>
          <div class="col-lg-6 col-sm-12 mt-3">
            <a href="{% url 'book_now' %}" class="btn btn-outline-success text-uppercase btn-lg">
              Book Your Treatment
            </a>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-lg-6 col-sm-12">
            <div class="treatments">
              <h3 class="treatments-title">Thai Classic Massage</h3>
              <p class="treatments-price">
                &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
              </p>
              <p class="treatments-description">
                A classic thai massage combines acupressure and stretches that
                resemble yoga-like postitions. Indulge yourself within whole-
                body treatment. This massage uses pressures across all sen lines
                (energy lines), improving flexibility, personal out-look and
                emotional status.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="treatments">
              <h3 class="treatments-title">Hot Stone Massage</h3>
              <p class="treatments-price">
                &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
              </p>
              <p class="treatments-description">
                As an extension to the therapists own hands, smooth, heated
                stones are placed on the body warming muscles, relieving tension
                or pain. This treatment comes with health precautions for
                pregnant women and those with open wounds. Please contact us for
                further information.
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6 col-sm-12">
            <div class="treatments">
              <h3 class="treatments-title">Aromatherapy Massage</h3>
              <p class="treatments-price">
                &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
              </p>
              <p class="treatments-description">
                A massage with essential oils promotes intense relaxation for
                your body and mind. This massage can improve sleep patterns,
                reduce stress, eliminate headaches, induce sleep and boost all
                energy levels. There are many benefits to this particular
                massage, why not give it a try?
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="treatments">
              <h3 class="treatments-title">Lomi Lomi Massage</h3>
              <p class="treatments-price">
                &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
              </p>
              <p class="treatments-description">
                Lomi Lomi massage is our most popular massage, its a therapeutic
                massage that utilises Thai techniques using hands, elbows, knees
                and feet. This massage will rejuvenate your body and take away
                your pain, it can be relaxing, medium or strong.
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6 col-sm-12">
            <div class="treatments">
              <h3 class="treatments-title">Swedish Massage</h3>
              <p class="treatments-price">
                &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
              </p>
              <p class="treatments-description">
                As an extension to the therapists own hands, smooth, heated
                stones are placed on the body warming muscles, relieving tension
                or pain. This treatment comes with health precautions for
                pregnant women and those with open wounds. Please contact us for
                further information.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="treatments">
              <h3 class="treatments-title">Sport Massage</h3>
              <p class="treatments-price">
                &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
              </p>
              <p class="treatments-description">
                This Sports/deep tissue massage uses strong pressure and
                involves the manipulation of soft tissue to benefit a person
                whom is regularly enaged in physical activity. This massage
                prepares your body and mind for optimal performance again and
                again.
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6 col-sm-12">
            <div class="treatments">
              <h3 class="treatments-title">Reflexology Massage</h3>
              <p class="treatments-price">
                &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
              </p>
              <p class="treatments-description">
                This particular massage applies pressure to a ranges of specific
                points on your feet that corresponds with all the organs,
                glands, tissues and muscles on the entire body.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="treatments">
              <h3 class="treatments-title">Pre/Post Natal Massage</h3>
              <p class="treatments-price">
                &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
              </p>
              <p class="treatments-description">
                Pre Natal massage is a therapeutic body work used during
                pregnancy and labour which focuses on the special needs and
                problem areas of the mother-to-be as her body goes through huge
                changes. This also applies to new mothers going through massive
                body changes.
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 col-sm-12">
              <div class="treatments">
                <h3 class="treatments-title">Four Hand Massage</h3>
                <p class="treatments-price">
                  &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
                </p>
                <p class="treatments-description">
                    Experience the benefits of two full body massages at the same time. Slow detailed moves of  varying paces and pressures performed by two therapists.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="treatments">
                <h3 class="treatments-title">Therapeutic Massage</h3>
                <p class="treatments-price">
                  &#8364; 55.00 .... &#8364;80.00 .... &#8364;110.00
                </p>
                <p class="treatments-description">
                    Therapeutic massages  helps to enhance overall wellbeing, promoting relaxation, and easing  tension brought on by emotional stress. By raising feel-good hormones, a therapeutic massage can promote a sensation of serenity and wellbeing.
                </p>
              </div>
            </div>
          </div>
      </div>
    </section>

    {% endblock %}