{% extends 'base.html' %}
{% load static %}

{% block title %}Page Not Found{% endblock %}

{% block content %}

<header class="masthead masthead-banner">
    <div class="container">
        <div class="masthead-heading text-uppercase">404! Not Found</div>
    </div>
</header>

<section class="page-section">
    <div class="container text-center">
        <h1 class="display-4">Oops!</h1>
        <p class="lead">The page you're looking for doesn't exist.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Go back to Home</a>
    </div>
</section>
{% endblock %}