{% extends 'base.html' %}
{% load static %}

{% block title %} Treatments - Thai Siam Massage {% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead masthead-banner">
  <div class="container">
    <div class="masthead-heading text-uppercase">Our Treatments</div>
  </div>
</header>

<!-- Treatments -->
<section class="page-section" id="treatment">
  <div class="container">
    <div class="row justify-content-center align-items-start mb-5">
      <div class="col-lg-6 col-sm-12">
        <h2 class="treatment-heading text-uppercase">Our Top Treatments</h2>
        <p class="treatment-subheading text-muted">30, 60, 120 Minutes</p>
      </div>
      <div class="col-lg-6 col-sm-12 mt-3">
        <a href="{% url 'book_now' %}" class="btn btn-outline-success text-uppercase btn-lg">
          Book Your Treatment
        </a>
      </div>
    </div>

    {% if treatments %}
      {% for treatment in treatments %}
        {% if forloop.counter0|divisibleby:2 %}  {# Start a new row every 2 items #}
          <div class="row mb-5">
        {% endif %}
        
        <div class="col-lg-6 col-sm-12">
          <div class="treatments">
            <h3 class="treatments-title">{{ treatment.title }}</h3>
            <p class="treatments-price">
              &#8364; {{treatment.half_hour}} .... &#8364;{{treatment.one_hour}} .... &#8364;{{treatment.two_hour}}
            </p>
            <p class="treatments-description">
              {{ treatment.description }}
            </p>
          </div>
        </div>

        {% if forloop.counter|divisibleby:2 or forloop.last %} {# Close the row after 2 items or if it's the last item #}
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p class="text-center">No treatments available at the moment</p>
    {% endif %}
  </div>
</section>


{% endblock %}